/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.*/

.pixel-perfect-image {
  position: absolute;
  width: 375px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
  filter: sepia(0.6);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 700;
  background: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--font-main);
}

.header {
  margin-inline: auto;
  margin-block-start: 100px;
  margin-block-end: 100px;
  max-inline-size: clamp(400px, 48.6%, 100%);
  border: 2px solid var(--border-color);
  /* padding-inline:clamp(14px, 5%, 30%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  font-family: var(--font-accent);
}

.header__title {
  margin-block-start: 136px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  color: var(--accent-color);
}

.header__subtitle {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__theme-menu {
  margin-block: 23px;
  margin-inline-start: 18px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--accent-color);
}

.theme-menu__button {
  display: block;
  appearance: none;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  padding-block-start: 1px;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
}

.theme-menu__button::after {
  content: '';
  display: block;
  block-size: 2px;
  transform: scale(0, 1);
  background-color: var(--accent-color);
  transform-origin: 0;
  transition: transform 0.3s ease-out;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1, 1);
}

.theme-menu__button:disabled,
.theme-menu__button:hover {
  opacity: 60%;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: 0.5s linear infinite alternate activeBtn;
}

@keyframes activeBtn {
  0% {
    left: -18px;
  }

  100% {
    left: -14px;
  }
}

.card {
  margin-inline: auto;
  margin-block-end: 49px;
  max-inline-size: clamp(375px, 48.5%, 100%);
  border: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.card__title {
  padding-block: 5px;
  margin-inline: 10px;
  font-size: 18px;
  font-weight: var(--font-weight-title);
  line-height: 21.78px;
  color: var(--accent-color);
}

.card__image-container {
  position: relative;
  margin-block-start: 1px;
}

.card__image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1/1;
  box-shadow: 0 -2px 0 #000,
    0 2px 0 #000;
}

.card__image-watermark {
  position: absolute;
  inset-inline-end: clamp(11px, 1.736%, 25px);
  inset-block-start: 25px;
  font-size: 14px;
  font-family: var(--font-accent);
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  opacity: 50%;
  -webkit-text-stroke: 1px var(--watermark-outline-color);
  text-stroke: 1px var(--watermark-outline-color);
}

@supports not ((text-stroke: 1px #FFF) or (-webkit-text-stroke: 1px #FFF)) {
  .card__image-watermark {
    text-shadow: -1px 1px 0 var(--watermark-outline-color),
      1px 1px 0 var(--watermark-outline-color),
      1px -1px 0 var(--watermark-outline-color),
      -1px -1px 0 var(--watermark-outline-color);
  }
}

.card__content {
  margin-block-start: 29px;
}

.card__content-text {
  margin-inline: 25px;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  font-weight: var(--font-weight-text);
  color: var(--accent-color);
}

.card__content-text:not(:last-of-type) {
  padding-block-end: 27px;
}

.card__content-text:last-of-type {
  margin-block-end: 25px;
}

.card__buttons-container {
  display: flex;
  margin-inline-end: 25px;
  margin-block-end: 20px;
  justify-content: end;
  gap: 5px;
}

.button {
  appearance: none;
  background-color: var(--background-color);
  cursor: pointer;
  border: none;
  padding: 0;
  text-align: center;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.card__icon-button {
  margin-block-start: 3px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid var(--border-color);
  padding-block-start: 2px;
}

.save_button {
  margin-block-end: 100px;
  border: 2px solid var(--border-color);
  inline-size: clamp(310px, 23.6%, 24%);
  block-size: 55px;
}

.floppy_svg {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.dialog_window {
  inline-size: clamp(341px, 24.5%, 24.5%);
  padding: 30px;
}

dialog[open] .dialog__text_container {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-block-end: 30px;
  gap:20px;
}

.dialog__floppy_svg {
  inline-size: 39px;
  block-size: 39px;
  mix-blend-mode: difference;
  margin: auto;
}

dialog::backdrop {
  background-color: #000;
  opacity: 75%;
}

.dialog__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.dialog__button_close {
  inline-size: 100%;
  block-size: 38px;
  border: 2px solid var(--border-color);
  margin-inline: auto;
  font-family: var(--font-accent);
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 12.6px;
  color: var(--font-color);
  mix-blend-mode: difference;
  /* position: relative; */
  z-index: 1;
}

.button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.save_button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button::before,
.save_button::before {
  content: '';
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--accent-color);
  transform: scale(0, 1);
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.5s ease-in-out;
  transform-origin: 0;
  z-index: 0;
}

/* Нужна анимация для режима смешивания как в примерах в проекте */
.card__like-button:hover::before,
.save_button:hover::before {
  transform: scale(1, 1);
}

.core {
  transition: fill 0.3s 0.03s;
}

.main-body {
  transition: fill 0.3s;
}

.contour {
  transition: fill 0.1s;
}

.sparks {
  opacity: 0%;
}

.like-icon:hover {
  .core {
    fill: #000;
    transition: fill 0.3s;
  }

  .main-body {
    fill: #000;
    transition: fill 0.3s 0.05s;
  }
}

.like-icon.is-liked .core,
.like-icon:active .core {
  fill: var(--like-fill-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body,
.like-icon:active .main-body {
  fill: var(--like-fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--like-fill-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: 0.3s ease-in 0.1s 2 alternate growth;
  transform-origin: center;
}

@keyframes growth {
  100% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  animation: 0.3s ease-in 0.3s 2 alternate sparkling;
}

@keyframes sparkling {
  100% {
    opacity: 100%;
  }
}

.footer {
  display: flex;
  justify-content: center;
}

@media (width <=375px) {
  .header {
    max-inline-size: 100%;
  }

  .header__title {
    margin-block-start: 120px;
    font-size: clamp(2.8125rem, 1.358rem + 7.2727vw, 3.0625rem);
    line-height: clamp(2.8125rem, 1.358rem + 7.2727vw, 3.0625rem);
  }

  .card__content {
    margin-block-start: 28px;
  }

  .save_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    block-size: 84px;
    padding-block: 15px;
  }

  .floppy_svg {
    width: 28px;
    height: 28px;
  }
}