:root.theme-dark {
  --font-weight-title: 785;
  --font-weight-text: 465;
  --button-font-color: #00CC14;
  --accent-color: #00CC14;
  --border-color: #00CC14;
  --like-contour-color: #00CC14;
  --background-color: #000;
  --background-gradient:
    repeating-linear-gradient(to bottom, #000 0, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to right, #000 0, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #007F0C, #004306);
  --watermark-outline-color: #000;
  --dialog-background-color: #000;
  --image-filter: hue-rotate(90deg) contrast(1.2);
}

:root.theme-light {
  --font-weight-title: 700;
  --font-weight-text: 400;
  --button-font-color: #FFF;
  --background-gradient:
    repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a);
  --accent-color: #000;
  --background-color: #fff;
  --border-color: #000;
  --like-contour-color: #000;
  --like-fill-color: #FF0000;
  --watermark-outline-color: #FFF;
  --dialog-background-color: #000;
  --image-filter: invert(1) contrast(1.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-title: 785;
    --font-weight-text: 465;
    --button-font-color: #00CC14;
    --accent-color: #00CC14;
    --border-color: #00CC14;
    --like-contour-color: #00CC14;
    --background-color: #000;
    --background-gradient:
      repeating-linear-gradient(to bottom, #000 0, #000 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(to right, #000 0, #000 2px, transparent 2px, transparent 4px),
      linear-gradient(to bottom, #007F0C, #004306);
    --watermark-outline-color: #000;
    --dialog-background-color: #000;
    --image-filter: hue-rotate(90deg) contrast(1.2);
  }
}