:root {
    --font-main: 'Inter', Arial, sans-serif;
    --font-accent: 'PressStart2P', 'Courier New', sans-serif;
    --font-weight-title: 700;
    --font-weight-text: 400;
    --font-size-title-desktop: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --font-size-title-mobile: clamp(2.8125rem, 1.358rem + 7.2727vw, 3.0625rem);
    --font-size-subtitle: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
    --button-font-color: #FFF;
    --background-gradient:
        repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a);
    --accent-color: #000;
    --background-color: #fff;
    --border-color: #000;
    --like-contour-color: #000;
    --like-fill-color: #FF0000;
    --watermark-outline-color: #FFF;
    --dialog-background-color: #000;

    --image-filter: invert(1) contrast(1.2);
    
}